@model IEnumerable<PROYECTOED1_DiegoRamirez_DanielElias.Models.Data.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Vacunación COVID-19</h1>



<div class="form-group">
    <input type="submit" value="Agregar persona a lista de espera" onclick="location.href='@Url.Action("AgregarPaciente", "ControladorPacientes")'" class="btn btn-outline-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Calendarizar Vacunación" onclick="location.href='@Url.Action("CalendarizarVacunacion", "ControladorPacientes")'" class="btn btn-outline-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Vacunación" onclick="location.href='@Url.Action("VacunarPersonas", "ControladorPacientes")'" class="btn btn-outline-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Buscar Persona" onclick="location.href='@Url.Action("BuscarPersona", "ControladorPacientes")'" class="btn btn-outline-primary" />
</div>


<div class="form-group">
    <input type="submit" value="Lista de  espera" onclick="location.href='@Url.Action("ListaDePacientes", "ControladorPacientes")'" class="btn btn-outline-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Lista de  vacunados" onclick="location.href='@Url.Action("ListadeVacunados", "ControladorPacientes")'" class="btn btn-outline-primary" />
</div>


<div class="form-group">
    <input type="submit" value="Porcentaje de vacunados" onclick="location.href='@Url.Action("PorcentajeDeVacunados", "ControladorPacientes")'" class="btn btn-outline-primary" />

</div>




@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
       alert("@TempData["alertMessage"]");
    </script>
}
