@model IEnumerable<PROYECTOED1_DiegoRamirez_DanielElias.Models.Data.Paciente>

@{
    ViewData["Title"] = "Lista de Espera";
}


<h1>Vacunación COVID-19 @PROYECTOED1_DiegoRamirez_DanielElias.Controllers.ControladorPacientes.municipiologgeado</h1>
<h1>Lista de espera</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.FechaDeVacunacion)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DPI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FechaDeVacunacion)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Prioridad)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
       alert("@TempData["alertMessage"]");
    </script>
}

<div class="form-group">
    <input type="submit" value="Regresar al menu" onclick="location.href='@Url.Action("Index", "ControladorPacientes")'" class="btn btn-outline-primary" />
</div>
